<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Movie List</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet"> -->
  {% load static %}
  <!-- <link rel="stylesheet" href="dist/style.css"> -->
  <link rel="stylesheet" type="text/css" href="{% static 'movieList/temp/style.css' %}">
</head>

<body>
  <header class="site-header">
    <h2 class="site-header__title">Lista de Películas</h2>
  </header>

  <div class="container">


    <form class="search-form">
      <input class="search-form__input" type="text" id="search-movie-input" placeholder="Buscar Película">
      <button class="btn" id="search-movie-btn">Buscar</button>
    </form>

    <div class="alert"></div>

    <ul class="grid" id="movie-grid">
      <li class="movie">
        <div class="movie--image-class">
          <img src="https://ia.media-imdb.com/images/M/MV5BNWIwODRlZTUtY2U3ZS00Yzg1LWJhNzYtMmZiYmEyNmU1NjMzXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg">
        </div>
        <i class="fas fa-check fa-4x movie__watched-icon"></i>
        <i class="far fa-times-circle fa-4x movie__delete-icon"></i>
        <div class="movie__info">
          <h3>Forrest Gump</h3>
          <p>1994</p>
        </div>
      </li>
      <li class="movie ">
        <img src="https://ia.media-imdb.com/images/M/MV5BN2YyZjQ0NTEtNzU5MS00NGZkLTg0MTEtYzJmMWY3MWRhZjM2XkEyXkFqcGdeQXVyMDA4NzMyOA@@._V1_SX300.jpg">
        <i class="fas fa-check fa-4x movie__watched-icon"></i>
        <i class="far fa-times-circle fa-4x movie__delete-icon"></i>
        <div class="movie__info">
          <h3>Dunkirk</h3>
          <p>2017</p>
        </div>
      </li>
      <li class="movie ">
        <img src="https://m.media-amazon.com/images/M/MV5BMjMxNjY2MDU1OV5BMl5BanBnXkFtZTgwNzY1MTUwNTM@._V1_SX300.jpg">
        <i class="fas fa-check fa-4x movie__watched-icon"></i>
        <i class="far fa-times-circle fa-4x movie__delete-icon"></i>
        <div class="movie__info">
          <h3>Avengers: Infinity War</h3>
          <p>2018</p>
        </div>
      </li>
      <li class="movie ">
        <img src="https://ia.media-imdb.com/images/M/MV5BNGNhMDIzZTUtNTBlZi00MTRlLWFjM2ItYzViMjE3YzI5MjljXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_SX300.jpg">
        <i class="fas fa-check fa-4x movie__watched-icon"></i>
        <i class="far fa-times-circle fa-4x movie__delete-icon"></i>
        <div class="movie__info">
          <h3>Pulp Fiction</h3>
          <p>1994</p>
        </div>
      </li>
    </ul>


  </div>

  <!-- modal -->
  <div class="modal" id="modal">
    <div class="modal__content">
    </div>
  </div>


  <!-- <script src="dist/app.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script src="{% static 'movieList/temp/app.js' %}"></script>
</body>

</html>