<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Movie List</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet"> -->
  {% load static %}
  <!-- <link rel="stylesheet" href="dist/style.css"> -->
  <link rel="stylesheet" type="text/css" href="{% static 'movieList/temp/style.css' %}">
</head>

<body>
  <header class="site-header">
    <div class="site-header__container">
      <h2 class="site-header__title">Lista de Películas</h2>
      <div class="site-header__header-options">
        <h3 class="site-header__title"><a class="link link__active" id="to-watch">Lista</a></h3>
        <h3 class="site-header__title"><a class="link" id="watched">Vistas</a></h3>
      </div>
    </div>
  </header>

  <div class="container">


    <form class="search-form">
      <input class="search-form__input" type="text" id="search-movie-input" placeholder="Buscar Película">
      <button class="btn" id="search-movie-btn">Buscar</button>
    </form>

    <div class="alert"></div>

    <ul class="grid" id="movie-grid">

      {% for movie in movies %}
      {% if not movie.Watched %}
      <li id="{{movie.imdbID}}" class="movie">
        <div class="movie--image-class">
          <img src="{{movie.Poster}}">
        </div>
        <i class="fas fa-check fa-4x movie__watched-icon"></i>
        <i class="far fa-times-circle fa-4x movie__delete-icon"></i>
        <div class="movie__info">
          <h3>{{movie.Title}}</h3>
          <p>{{movie.Year}}</p>
        </div>
      </li>
      {% endif %}
      {% endfor %}



    </ul>


  </div>

  <!-- modal -->
  <div class="modal" id="modal">
    <div class="modal__content">
    </div>
  </div>


  <!-- <script src="dist/app.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script src="{% static 'movieList/temp/app.js' %}"></script>
</body>

</html>