.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px auto;
  width: 100%;

  @mixin atMedium {
    width: 60%;
  }

  &__input {
    padding: 15px;
    font-size: 18px;
    flex: 1;
    flex-basis: 100%;
    margin: 0 0 20px 0;

    @mixin atMedium {
      margin: 0 30px 0 0;
      flex-basis: 0;
    }
  }
}
